body {
    margin: 0px;
    padding: 10px;
    font-size: 15pt;
    background-size: cover;
    background-image: url(https://codd.cs.gsu.edu/~batelsek1/SEGP/resources/construction.png);
    font-family: "Tahoma";
    text-align: center;
}

.banner {
    margin: auto;
    margin-top: 2%;
    height: 60px;
    width: 80%;
    background-color: #a7e4e4;
    padding-top: 10px;
    font-weight: bold;
    text-align: center;
}

#copyright {
    background-color:skyblue;
    margin: 1px;
    padding: 1px;
    height: 15px;
    position: fixed;
    bottom: 1px;
    left: 30%;
    font-size: 8pt;
}

a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}